{% include "partials/head.html" %}
{% include "partials/header.html" %}
{% for item in products %}
<div class="row" id ="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ item.imagePath }}" alt="...">
      <div class="caption">
        <h3>{{ item.title }}</h3>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. ?</p>
            <div class="clearfix">
            <div class="price pull-left">{{ item.price }}</div>
        <p><a href="/add-to-cart/{{ item._id }}" class="btn btn-primary" role="button">Add to Cart</a></p>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
